/* setting style to default */
li *,
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-inline-start: 0px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 95vh;
  width: 25vw;

  box-shadow: inset -7px 5px 5px 0px #000000;
  color: white;

  transition: width .3s ease-in-out, backgorund-color .2s linear;
}

.navBar.hidden {
  width: 5vw;
}

.navBar .first-items, .navBar .pagesExemple {
  transition: scale .2s ease-in-out .1s;
}

.navBar .hidden {
  scale: 0;
  transition-delay: 0s;
}

.hamburger-menu {
  font-size: max(15px, min(30px, 3vw));
  margin: 5vh 0 0 1vw;
}

.hamburger-menu.hidden {
  scale: 1;
}

.navBar .first-items {
  padding-left: 30%;
  padding-top: 2vh;

  display: flex;
  justify-content: space-between;
  height: 45vh;
  max-height: 300px;

  flex-direction: column;

  text-align: center;

  font-size: max(8px, min(18px, 2vw));
}

.first-items div {
  transition: background-color .3s ease-in, color .3s ease-in, border-color .2s ease-in;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

.first-items .notSelected {
  border-style: solid;
  border-color: transparent;
  border-width: 8px 0px 8px 8px;
}

.first-items .selected {
  border-style: solid;
  border-color: black;
  border-width: 1.2vmin 0px 1.2vmin 1.2vmin;
  
  background-color: rgb(235, 253, 253);

  box-shadow: 7px 0px 0px 0px rgb(235, 253, 253);
  color: black;
}

.first-items div {
  padding: max(4px, min(14px, 1vmin)) 0px;
}

.pagesExemple button {
  font-size: max(8px, min(18px, 2vw));
  text-align: left;
}

.second-items {
  margin-top: 0px;
}

.second-items li {
  font-size: max(7px, min(16px, 1.8vw));
  padding: 3px;
  padding-left: 3vw;
}

.second-items .selected {
  color: black;
  text-decoration: underline white 2px;
}

.close li {
  display: none;
}