.login-page {
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
  background-color: rgb(229, 255, 255);
}

.login-page .loginFomr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 3vh;
  border: rgba(1,59,79,1) solid 2px;
  background: linear-gradient(245deg, rgba(54,169,176,1) 27%, rgba(0,255,16,1) 60%);
  box-shadow: 6px 6px 10px 0px rgb(0, 13, 17);
}

.login-page img {
  border-radius: 50%;
  margin-bottom: 8vh;
  margin-top: 5vh;
  border: rgba(1,59,79,1) solid 2px;
  box-shadow: 6px 6px 10px 0px rgb(0, 13, 17);

  width: 25vmin;
  height: 25vmin;
}

.login-page input {
  border: none;
  border-bottom: black solid 2px;
  background-color: transparent;
  margin: 1vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
  color: rgba(1,59,79,1);
  font-weight: 600;
  border-radius: 5%;

  width: 25vw;
  max-width: 240px;
}

::placeholder {
  color: rgba(1,59,79,1);
}

.login-page .password-label {
  display: flex;
}

.loginFomr input:nth-child(2) {
  position: relative;
  left: -1vh !important;
}

.login-page .show-password {
  padding: 0px;
  margin: 0px;
  width: 2vh;
}

.login-btn {
  width: 15vw;
  margin: 5%;
  border: black solid 2px;
  border-radius: 30px;
  background-color: rgb(229, 255, 255);
  max-width: 130px;
}

.login-page .login-btn:hover {
  box-shadow: 3px 3px 6px 0px rgb(0, 13, 17);
}

.login-page .login-btn:hover {
  position: relative;
  left: -2px;
  top: -2px;
}
