.registerPage {
  display: flex;
  height: 90vh;
  padding-bottom: 5vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 255, 255);
}

.inVisible {
  display: none;
}

.steps form {
  padding: 5vh;
  border: solid black 3px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(1,59,79,1) 40%, rgba(70,252,247,1) 110%);
  box-shadow: 6px 6px 10px 0px rgb(0, 13, 17);
}

.steps form h3 {
  text-align: center;
  text-decoration: underline 3px;
  color: rgb(34, 34, 34);
}

.steps form label {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 3vh;
  margin-bottom: 0vh;
}

.steps form label p {
  margin-bottom: 0px;
}

.steps form label input {
  padding: 1vh;
  border: none;
  border-bottom: black solid 2px;
}

.steps .inputs {
  padding-top: 1vh;
  padding-bottom: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.steps .btn-change-step {
  display: flex;
  justify-content: space-around;
}

.steps form button {
  background-color: white;
  border: rgb(1, 28, 44) solid 3px;
  border-radius: 10%;
  padding: 2% 7%;
  box-shadow: 6px 6px 10px 0px rgb(0, 13, 17);
}

.steps form button:hover {
  background-color: rgb(26, 221, 0);
  position: relative;
  top: -2px;
  left: -2px;
  transition: background-color 0.5s ease;
}

.steps form .deActive {
  color: black;
  opacity: 0.7;
  cursor: inherit;
  background-color: white !important;
  top: 0px !important;
  left: 0px !important;
}

.errorMsg {
  position: absolute;
  z-index: 1;
  color: red;
  background-color: wheat;
  opacity: 0.5;
  font-size: small;
  border: rgb(58, 0, 82) solid 1px;
  border-radius: 5%;
  margin-left: 3vh;

  max-width: 50vw;
}

@media screen and (max-width: 560px) {
  .steps form {
    padding: 8px;
  }

  .registerPage h3 {
    font-size: 15px;
  }

  .registerPage p {
    font-size: 13px;
  }

  .registerPage input {
    font-size: 9px;
  }

  .errorMsg {
    font-size: 8px;
  }

  .btn-change-step {
    font-size: 12px;
  }
}